img{
    width: 400px;
}

#thirdDiv{
    width: 500px;
    height: 600px;
    background: rgb(14, 221, 248);
    padding: 50px;
    border: dashed black;
    
}
#spanId{
    font-size :18px;
    margin: 50px;
}     